In [22]:
import bs4 as bs
import urllib.request as request
import pandas as pd

In [2]:
# Getting the HTML byte string.
sauce = request.urlopen("https://pythonprogramming.net/parsememcparseface/").read()
# Creating a Soup object from the HTML.
soup = bs.BeautifulSoup(sauce, 'lxml')

In [7]:
# soup.find('table')
table_soup = soup.find('table')

In [17]:
# table_soup.find_all('tr')
table_rows = table_soup.find_all('tr')

In [21]:
k = []
for row in table_rows:
    data = row.find_all('td')
    k.append([x.text for x in data])
k.pop(0)
k

[['Python', '932914021', 'Definitely'],
 ['Pascal', '532', 'Unlikely'],
 ['Lisp', '1522', 'Uncertain'],
 ['D#', '12', 'Possibly'],
 ['Cobol', '3', 'No.'],
 ['Fortran', '52124', 'Yes.'],
 ['Haskell', '24', 'lol.']]

## Extracting tables sing Pandas
#### pandas.read_html('URL') returns a list of DataFrames of all the tables on the HTML web page

In [23]:
pd.read_html("https://pythonprogramming.net/parsememcparseface/")

[  Program Name  Internet Points    Kittens?
 0       Python        932914021  Definitely
 1       Pascal              532    Unlikely
 2         Lisp             1522   Uncertain
 3           D#               12    Possibly
 4        Cobol                3         No.
 5      Fortran            52124        Yes.
 6      Haskell               24        lol.]

In [24]:
pd.read_html("https://pythonprogramming.net/parsememcparseface/")[0]

  Program Name  Internet Points    Kittens?
0       Python        932914021  Definitely
1       Pascal              532    Unlikely
2         Lisp             1522   Uncertain
3           D#               12    Possibly
4        Cobol                3         No.
5      Fortran            52124        Yes.
6      Haskell               24        lol.