In [1]:
import pandas as pd

In [14]:
bond = pd.read_csv('Datasets/jamesbond.csv')
bond.head(3)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

# # Setting Indexes

## df.set_index(key) method

#### df.set_index() accepts a key argument that takes name of the column that is needed to be set as index.

In [7]:
# Setting the Film column as index.

bond.set_index(keys='Film', inplace=True)
bond.head(3)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

## df.reset_index() method

#### reset_index() replaces the current index with the default numeric index.

In [13]:
bond.reset_index(inplace=True)

Using the .set_index() method consecutively will drop the column set as index in the previous round. 
Reset the indexes using the .reset_index() method before setting a new index column.

In [15]:
# Here, 'Film' is dropped in second round

bond.set_index(keys='Film', inplace=True)
bond.set_index(keys='Year')

,Actor,Director,Box Office,Budget,Bond Actor Salary
Year,,,,,
1962,Sean Connery,Terence Young,448.8,7.0,0.6
1963,Sean Connery,Terence Young,543.8,12.6,1.6
1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1965,Sean Connery,Terence Young,848.1,41.9,4.7
1967,David Niven,Ken Hughes,315.0,85.0,NaN
1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
1981,Roger Moore,John Glen,449.4,60.2,NaN
1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
1983,Roger Moore,John Glen,373.8,53.9,7.8
1985,Roger Moore,John Glen,275.2,54.5,9.1
1987,Timothy Dalton,John Glen,313.5,68.8,5.2
1989,Timothy Dalton,John Glen,250.9,56.7,7.9
1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [21]:
bond.reset_index(inplace=True)

In [ ]:
# Right way of setting indexes consecutively

bond.set_index(keys='Film', inplace=True)
bond.reset_index(inplace=True)
bond.set_index(keys='Year')

# # df.loc[ ] accessor

#### The .loc[] accessor is applied on a DataFrame with string-indexs. 
#### df.loc[] can be used as a list slicer on a data frame. It has all the capabilities of a list slicer.

In [15]:
# Setting things up

bond.set_index(keys='Film', inplace=True)
bond.sort_index(inplace=True)
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [27]:
# Extracting a single row from the Dataframe
# If a single index is passed it will return a series

bond.loc['Goldfinger']

Year                         1964
Actor                Sean Connery
Director             Guy Hamilton
Box Office                  820.4
Budget                       18.6
Bond Actor Salary             3.2
Name: Goldfinger, dtype: object

In [30]:
# Passing a range of indexes.

bond.loc['Dr. No': 'Goldfinger']

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [31]:
# Adding a step to to the Range of indexes.

bond.loc['Dr. No': 'Goldfinger': 2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [34]:
# Passing a list of specific indexes to loc.

bond.loc[['Dr. No', 'Goldfinger', 'Skyfall']]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

# # df.iloc[ ] accessor

The df.iloc[] method is used to locate rows in a DataFrame with numeric indexs. 
df.iloc[] works with DataFrames with string-indexes aswell.

In [36]:
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [35]:
bond.iloc[1]

Year                            2006
Actor                   Daniel Craig
Director             Martin Campbell
Box Office                     581.5
Budget                         145.3
Bond Actor Salary                3.3
Name: Casino Royale, dtype: object

#### While passing a range in df.iloc[] the second value is exclusive unlike df.loc[].

In [38]:
bond.iloc[0:6]         # Here, the row with Index 6 is not in output

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [40]:
bond.iloc[0: 14: 2]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN

In [39]:
bond.iloc[[10, 5, 6]]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN

# Extracting specific cell values

### The .loc[] and .iloc[] accepts rows and columns as parameters.

### The rows and columns can be string, list or a slice.

In [42]:
bond.loc['Casino Royale', 'Actor']           # Passing row and column

Film
Casino Royale    Daniel Craig
Casino Royale     David Niven
Name: Actor, dtype: object

In [45]:
bond.loc['Skyfall', ['Actor', 'Box Office']]  # Passing a string and a list

Actor         Daniel Craig
Box Office           943.5
Name: Skyfall, dtype: object

In [46]:
bond.loc[['Skyfall', 'Specter'], ['Actor', 'Box Office']]   # passing lists for specific rows and columns

                Actor  Box Office
Film
Skyfall  Daniel Craig       943.5
Specter           NaN         NaN

In [47]:
bond.loc['Casino Royale': 'Skyfall', 'Actor': 'Box Office']   # Passing a range

                                          Actor         Director  Box Office
Film
Casino Royale                      Daniel Craig  Martin Campbell       581.5
Casino Royale                       David Niven       Ken Hughes       315.0
Diamonds Are Forever               Sean Connery     Guy Hamilton       442.5
Die Another Day                  Pierce Brosnan     Lee Tamahori       465.4
Dr. No                             Sean Connery    Terence Young       448.8
For Your Eyes Only                  Roger Moore        John Glen       449.4
From Russia with Love              Sean Connery    Terence Young       543.8
GoldenEye                        Pierce Brosnan  Martin Campbell       518.5
Goldfinger                         Sean Connery     Guy Hamilton       820.4
Licence to Kill                  Timothy Dalton        John Glen       250.9
Live and Let Die                    Roger Moore     Guy Hamilton       460.3
Moonraker                           Roger Moore    Lewis Gilbert       535.0
Never Say Never Again              Sean Connery   Irvin Kershner       380.0
Octopussy                           Roger Moore        John Glen       373.8
On Her Majesty's Secret Service  George Lazenby    Peter R. Hunt       291.5
Quantum of Solace                  Daniel Craig     Marc Forster       514.2
Skyfall                            Daniel Craig       Sam Mendes       943.5

.iloc[] also accepts row and column, while passing a index value for
column remember that the Dataframe index column is not a column and
column range starts from 0
Therefore in bond dataframe "Year" has a column index of 0, "Actor" has 1 and so on

In [50]:
bond.iloc[2, 1]

'David Niven'

In [51]:
bond.iloc[[2, 6], 1]

Film
Casino Royale         David Niven
For Your Eyes Only    Roger Moore
Name: Actor, dtype: object

In [52]:
bond.iloc[[2, 6], [1, 3]]

                          Actor  Box Office
Film
Casino Royale       David Niven       315.0
For Your Eyes Only  Roger Moore       449.4

In [53]:
# All operations of slicing can be applied here

bond.iloc[2: 6, 1: 3]        # the column & row with index 3 & 6 is not inclusive

                               Actor       Director
Film
Casino Royale            David Niven     Ken Hughes
Diamonds Are Forever    Sean Connery   Guy Hamilton
Die Another Day       Pierce Brosnan   Lee Tamahori
Dr. No                  Sean Connery  Terence Young

# # Changing values in the cell

In [60]:
# Assignment operator can be used to insert a value accessed by .loc[]

bond.loc['Skyfall', 'Actor'] = 'Sir Daniel Craig'

In [61]:
bond.loc['Skyfall', 'Actor']

'Sir Daniel Craig'

### One can pass a list in columns parameter and then assign a list, then the values in the list will be assigned to the column list in the same order.

In [63]:
# Changing 'Box Office' & 'Budget' values of film 'Skyfall'.

bond.loc['Skyfall', ['Box Office', 'Budget']] = [950, 170]

In [64]:
bond.loc['Skyfall', ['Box Office', 'Budget']]

Box Office    950
Budget        170
Name: Skyfall, dtype: object

## changing multiple values

In [66]:
# Getting a boolean series where actor is 'Daniel Craig'

craig = bond['Actor'] == 'Daniel Craig'

In [67]:
# Changing all the names "Daniel Craig" to "Sir Daniel Craig"
# One can even pass a series to the row parameter of .loc[] accessor

bond.loc[craig, 'Actor'] = 'Sir Daniel Craig'

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

# # Renaming Columns and indexes
### 1. Renaming indexes

The mapper argument of the df.rename() method takes a python
dictionary of current value as keys & new values as dict values. 

The "axis" parameter of the df.rename() method is set to 0 by deafult
one can use, 'rows' or 'index' insted. 

.rename() returns a new dataframe, use inplace=True to make it permanent.

In [6]:
bond.rename(mapper={'Casino Royale': 'Battle Royale',
                    'Quantum of Solace': 'Quantum of Soled'})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Battle Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Battle Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Soled,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

#### one can use the index parameter directly to rename indexes

In [7]:
bond.rename(index={'Casino Royale': 'Battle Royale',
                    'Quantum of Solace': 'Quantum of Soled'})

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Battle Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Battle Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Soled,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

### 2. Renaming columns

When using mapper parameter for renaming a column heading one needs to specify the axis as 1 or 'columns'.

In [8]:
bond.rename(mapper={'Year': 'Release Date',
                    'Box Office': 'Revenue'}, axis=1)

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

#### one can use the "column" parameter directly without specifing the axis.

In [10]:
bond.rename(columns={'Year': 'Release Date',
                    'Box Office': 'Revenue'})

,Release Date,Actor,Director,Revenue,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

### 3. df.columns attriute

assigning a list of values to df.columns will rename the columns permanantly. However, u will need to repeat the other headings in the same sequence.

In [11]:
# returns a list of column headings.

bond.columns

Index(['Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [12]:
# Renaming column names.

bond.columns = ['Release Date', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary']

# # Dropping columns & rows

### df.drop() takes a label parameter that takes a list of values that represents index or column headers.

### setting the "axis" parameter will apply the drop on index or column.

In [15]:
# dropping rows using index values

bond.drop(labels=['Skyfall', 'Spectre'])   # axis=0 by default

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [17]:
# dropping rows using index values with "index" parameter

bond.drop(index=['Skyfall', 'Spectre'])

,Release Date,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [16]:
# dropping columns using column labels

bond.drop(labels=['Budget'], axis=1)

,Release Date,Actor,Director,Box Office,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,4.4

In [19]:
# dropping columns using "columns" parameter

bond.drop(columns=['Budget'])

,Release Date,Actor,Director,Box Office,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,4.4

## using del to delete columns

del operation is permanent

In [32]:
del bond['Director']

Year                         2012
Actor                Daniel Craig
Director               Sam Mendes
Box Office                  943.5
Budget                      170.2
Bond Actor Salary            14.5
Name: Skyfall, dtype: object

## df.pop() method

#### df.pop() will drop the passed column and return it as a series.
#### df.pop() permanently modifys the dataframe.

In [24]:
bond.pop('Budget')    # pop only accepts columns
bond

,Release Date,Actor,Director,Box Office,Bond Actor Salary
Film,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,9.1
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,NaN
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,4.4

# # Sampling

In [34]:
# Extracting 5 random rows.

bond.sample(n=5)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [35]:
# Extracting a sample size of 25% of DataFrame.

bond.sample(frac=0.25)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6

In [37]:
# Taking a sample of 2 random columns.

bond.sample(n=2, axis=1)

                                 Box Office  Year
Film
A View to a Kill                      275.2  1985
Casino Royale                         581.5  2006
Casino Royale                         315.0  1967
Diamonds Are Forever                  442.5  1971
Die Another Day                       465.4  2002
Dr. No                                448.8  1962
For Your Eyes Only                    449.4  1981
From Russia with Love                 543.8  1963
GoldenEye                             518.5  1995
Goldfinger                            820.4  1964
Licence to Kill                       250.9  1989
Live and Let Die                      460.3  1973
Moonraker                             535.0  1979
Never Say Never Again                 380.0  1983
Octopussy                             373.8  1983
On Her Majesty's Secret Service       291.5  1969
Quantum of Solace                     514.2  2008
Skyfall                               943.5  2012
Spectre                               726.7  2015
The Living Daylights                  313.5  1987
The Man with the Golden Gun           334.0  1974
The Spy Who Loved Me                  533.0  1977
The World Is Not Enough               439.5  1999
Thunderball                           848.1  1965
Tomorrow Never Dies                   463.2  1997
You Only Live Twice                   514.2  1967

# # Extracting smallest and largest values

In [39]:
# Extracting top 3 highest grossing movies.

bond.nlargest(3, columns='Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2

In [40]:
# Extracting 3 lowest box office collection.

bond.nsmallest(3, columns='Box Office')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6

In [41]:
# Extracting 3 largest movies by Budget.

bond.nlargest(3, columns='Budget')

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5

In [42]:
# Applying nlargest on a Series.

bond['Box Office'].nlargest(8)

Film
Skyfall                  943.5
Thunderball              848.1
Goldfinger               820.4
Spectre                  726.7
Casino Royale            581.5
From Russia with Love    543.8
Moonraker                535.0
The Spy Who Loved Me     533.0
Name: Box Office, dtype: float64

# # df.where() method

#### df.where() method takes a boolean series & returns a new dataframe where False values are presented as NaN & True values are presented as is.

In [44]:
# Creating a boolean series.

mask = bond['Actor'] == 'Sean Connery'
bond[mask]

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [45]:
bond.where(mask)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,1971.0,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,1962.0,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,1983.0,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

### using multiple conditions in df.where() method

In [49]:
# creating a second boolean series.
mask2 = bond['Box Office'] > 500

# Films where actor is'Sean Connery' and has grossed > 500m.
bond.where(mask & mask2)

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
A View to a Kill,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Casino Royale,NaN,NaN,NaN,NaN,NaN,NaN
Diamonds Are Forever,NaN,NaN,NaN,NaN,NaN,NaN
Die Another Day,NaN,NaN,NaN,NaN,NaN,NaN
Dr. No,NaN,NaN,NaN,NaN,NaN,NaN
For Your Eyes Only,NaN,NaN,NaN,NaN,NaN,NaN
From Russia with Love,1963.0,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,NaN,NaN,NaN,NaN,NaN,NaN
Goldfinger,1964.0,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,NaN,NaN,NaN,NaN,NaN,NaN
Live and Let Die,NaN,NaN,NaN,NaN,NaN,NaN
Moonraker,NaN,NaN,NaN,NaN,NaN,NaN
Never Say Never Again,NaN,NaN,NaN,NaN,NaN,NaN
Octopussy,NaN,NaN,NaN,NaN,NaN,NaN
On Her Majesty's Secret Service,NaN,NaN,NaN,NaN,NaN,NaN
Quantum of Solace,NaN,NaN,NaN,NaN,NaN,NaN
Skyfall,NaN,NaN,NaN,NaN,NaN,NaN
Spectre,NaN,NaN,NaN,NaN,NaN,NaN
The Living Daylights,NaN,NaN,NaN,NaN,NaN,NaN
The Man with the Golden Gun,NaN,NaN,NaN,NaN,NaN,NaN
The Spy Who Loved Me,NaN,NaN,NaN,NaN,NaN,NaN
The World Is Not Enough,NaN,NaN,NaN,NaN,NaN,NaN
Thunderball,1965.0,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,NaN,NaN,NaN,NaN,NaN,NaN
You Only Live Twice,1967.0,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# # df.query() method

#### df.query() returns a new dataframe with the passed condition satisfied.

#### df.query() requires the column names to be without spaces.

#### df.query() accepts a string like syntax.

In [8]:
# Replacing spaces with "_" in column names

bond.columns = [col_names.replace(' ', '_') for col_names in bond.columns]
bond.columns

Index(['Year', 'Actor', 'Director', 'Box_Office', 'Budget',
       'Bond_Actor_Salary'],
      dtype='object')

Values must be in ' ' wherelse column names need not be.

In [10]:
# Extracting films where Actor is Daniel Craig

bond.query("Actor == 'Daniel Craig'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [11]:
# Extracting films where Director is Terence Young

bond.query("Director == 'Terence Young'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [14]:
# Extracting all the films where Daniel Craig is not the lead

bond.query("Actor != 'Daniel Craig'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

In [15]:
# Extracting all the films that grossed more than 600M

bond.query("Box_Office > 600")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7

In [16]:
# Using and clause

bond.query("Actor == 'Roger Moore' and Director == 'John Glen'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8

In [17]:
# using or clause

bond.query("Actor == 'Roger Moore' or Director == 'John Glen'")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN

In [18]:
# checking inclusivity

bond.query("Actor in ['Roger Moore', 'Timothy Dalton'] and Director in ['John Glen', 'Sam Mendes']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2

In [19]:
# here != is 'not in'

bond.query("Actor not in ['Roger Moore', 'Timothy Dalton']")

,Year,Actor,Director,Box_Office,Budget,Bond_Actor_Salary
Film,,,,,,
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4

# # df.apply() method

#### df.apply() applies the passed function across the rows by default. 

#### use the 'axis' parameter to specify whether to apply it column-wise or row-wise. 

#### 'axis=0' will pass the row values of entire column as a series. 

#### 'axis=1' will pass the column values of a row as a series.

In [6]:
# defining a function.
def good_movie(row):
    
    actor = row[1]
    budget = row[4]
    
    if actor == "Pierce Brosnan":
        return "The Best"
    elif actor == "Daniel Craig" and budget > 50:
        return "Enjoyable"
    else:
        return "I don't know"

# applying the columns on function.
bond.apply(good_movie, axis=1)

Film
A View to a Kill                   I don't know
Casino Royale                         Enjoyable
Casino Royale                      I don't know
Diamonds Are Forever               I don't know
Die Another Day                        The Best
Dr. No                             I don't know
For Your Eyes Only                 I don't know
From Russia with Love              I don't know
GoldenEye                              The Best
Goldfinger                         I don't know
Licence to Kill                    I don't know
Live and Let Die                   I don't know
Moonraker                          I don't know
Never Say Never Again              I don't know
Octopussy                          I don't know
On Her Majesty's Secret Service    I don't know
Quantum of Solace                     Enjoyable
Skyfall                               Enjoyable
Spectre                               Enjoyable
The Living Daylights               I don't know
The Man with the Golden Gun        I don't know
The Spy Who Loved Me               I don't know
The World Is Not Enough                The Best
Thunderball                        I don't know
Tomorrow Never Dies                    The Best
You Only Live Twice                I don't know
dtype: object

# df.copy() method

df.copy() method is used to keep the dataframe from modifications

In [10]:
# this method would modify the value in the dataframe

bond['Director']['Octopussy'] = 'Mr. John Glen'

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
bond.loc['Octopussy']

Year                          1983
Actor                  Roger Moore
Director             Mr. John Glen
Box Office                   373.8
Budget                        53.9
Bond Actor Salary              7.8
Name: Octopussy, dtype: object

#### Below, the directors series is extracted from a copy of bond dataframe. hence, any modification to the directors series will not affect the bond dataframe.

In [19]:
directors = bond['Director'].copy()
directors.head(5)

Film
A View to a Kill              John Glen
Casino Royale           Martin Campbell
Casino Royale                Ken Hughes
Diamonds Are Forever       Guy Hamilton
Die Another Day            Lee Tamahori
Name: Director, dtype: object

In [18]:
directors['Octopussy'] = 'Mr. John Glen'

bond.loc['Octopussy']       # bond is unaffected

Year                        1983
Actor                Roger Moore
Director               John Glen
Box Office                 373.8
Budget                      53.9
Bond Actor Salary            7.8
Name: Octopussy, dtype: object