In [1]:
import pandas as pd

In [42]:
googl = pd.read_csv('Datasets/google_stock_price.csv', squeeze=True)
googl

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [43]:
change = list()

for i in range(0, (len(googl) - 1)):
    k = ((googl[i + 1] - googl[i])/googl[i + 1]) * 100
    change.append(k)

In [44]:
change.insert(0, 'NaN')

In [45]:
len(change)

3012

In [46]:
change_series = pd.Series(change)
change_series

0            NaN
1        7.35675
2         1.0064
3       -4.33372
4        1.07649
          ...
3007     0.52919
3008   -0.234739
3009    0.272899
3010   -0.203471
3011      1.3564
Length: 3012, dtype: object

In [47]:
df = pd.DataFrame(googl)
df['%Change'] = change_series
df

      Stock Price   %Change
0           50.12       NaN
1           54.10   7.35675
2           54.65    1.0064
3           52.38  -4.33372
4           52.95   1.07649
...           ...       ...
3007       772.88   0.52919
3008       771.07 -0.234739
3009       773.18  0.272899
3010       771.61 -0.203471
3011       782.22    1.3564

[3012 rows x 2 columns]

In [48]:
df['%Change'][0] = 0
df

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Stock Price   %Change
0           50.12         0
1           54.10   7.35675
2           54.65    1.0064
3           52.38  -4.33372
4           52.95   1.07649
...           ...       ...
3007       772.88   0.52919
3008       771.07 -0.234739
3009       773.18  0.272899
3010       771.61 -0.203471
3011       782.22    1.3564

[3012 rows x 2 columns]

In [49]:
df['%Change'].std()

1.9765094990517569

In [50]:
df['%Change'].tail(50).std()

1.114766252133188

In [52]:
for i in range(1, (len(df['%Change']))):
    df['%Change'][i] = df['%Change'][i].round(3)
    
df

c:\program files\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Stock Price %Change
0           50.12       0
1           54.10   7.357
2           54.65   1.006
3           52.38  -4.334
4           52.95   1.076
...           ...     ...
3007       772.88   0.529
3008       771.07  -0.235
3009       773.18   0.273
3010       771.61  -0.203
3011       782.22   1.356

[3012 rows x 2 columns]

In [53]:
df['%Change'].kurtosis()

8.216496589931538

In [54]:
df['%Change'].mode()

0    0
dtype: object

In [55]:
df['%Change'].median()

0.0495

In [63]:
df['%Change'].astype('float').idxmax()

922

In [64]:
df['%Change'][922]

16.66