In [1]:
import pandas as pd
# import urllib.request as request
# import bs4 as bs

In [2]:
googl = pd.read_csv('Datasets/google_stock_price.csv', squeeze=True)
googl

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [3]:
change = list()

for i in range(0, (len(googl) - 1)):
    k = ((googl[i + 1] - googl[i])/googl[i + 1]) * 100
    change.append(k)

In [4]:
change.insert(0, 'NaN')

In [5]:
len(change)

3012

In [6]:
change_series = pd.Series(change)
change_series

0            NaN
1        7.35675
2         1.0064
3       -4.33372
4        1.07649
          ...
3007     0.52919
3008   -0.234739
3009    0.272899
3010   -0.203471
3011      1.3564
Length: 3012, dtype: object

In [7]:
df = pd.DataFrame(googl)
df['%Change'] = change_series
df

      Stock Price   %Change
0           50.12       NaN
1           54.10   7.35675
2           54.65    1.0064
3           52.38  -4.33372
4           52.95   1.07649
...           ...       ...
3007       772.88   0.52919
3008       771.07 -0.234739
3009       773.18  0.272899
3010       771.61 -0.203471
3011       782.22    1.3564

[3012 rows x 2 columns]

In [8]:
df['%Change'][0] = 0
df

C:\Program Files\Python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      Stock Price   %Change
0           50.12         0
1           54.10   7.35675
2           54.65    1.0064
3           52.38  -4.33372
4           52.95   1.07649
...           ...       ...
3007       772.88   0.52919
3008       771.07 -0.234739
3009       773.18  0.272899
3010       771.61 -0.203471
3011       782.22    1.3564

[3012 rows x 2 columns]

In [9]:
df['%Change'].std()

1.9765094990517569

In [10]:
df['%Change'].tail(50).std()

1.114766252133188

In [11]:
for i in range(1, (len(df['%Change']))):
    df['%Change'][i] = df['%Change'][i].round(3)
    
df

C:\Program Files\Python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      Stock Price %Change
0           50.12       0
1           54.10   7.357
2           54.65   1.006
3           52.38  -4.334
4           52.95   1.076
...           ...     ...
3007       772.88   0.529
3008       771.07  -0.235
3009       773.18   0.273
3010       771.61  -0.203
3011       782.22   1.356

[3012 rows x 2 columns]

In [12]:
df['%Change'].kurtosis()

8.216496589931538

In [13]:
df['%Change'].mode()

0    0
dtype: object

In [14]:
df['%Change'].median()

0.0495

In [15]:
df['%Change'].astype('float').idxmax()

922

In [16]:
df['%Change'][922]

16.66

In [17]:
pd.read_excel('Datasets/experiment.xlsx', sheet_name='Brent')

FileNotFoundError: [Errno 2] No such file or directory: 'Datasets/experiment.xlsx'

In [ ]:
book = xl.Book('Datasets/experiment.xlsx')

In [ ]:
brent = book.sheets('Brent')

In [ ]:
brent.range('A3:E1294').options(pd.DataFrame, header=1).value

In [ ]:
brent_m1 = brent.range('H3:L63').options(pd.DataFrame, index=False).value

In [ ]:
brent_m1['Date'].astype('str').str.replace('2020-', '01-')

In [ ]:
brent_m1['Date'] = brent_m1['Date'].astype('str').str.replace('2020-', '01-')

In [ ]:
brent_m1

In [ ]:
brent_m1['Date'] = pd.to_datetime(brent_m1['Date'], dayfirst=True)

In [ ]:
brent_m1.set_index(keys='Date', inplace=True)

# Playing with .rolling() method

In [ ]:
kilo = brent_m1['Price'].sort_index()

In [ ]:
def percentage(l):
    x = l[0]
    y = l[1]
    k = ((y - x)/y) * 100
    return k

In [ ]:
per_change = kilo.rolling(2).apply(percentage, raw=True)
brent_m1.insert(4, column='%change', value=per_change)
brent_m1

# Negative Graphing

In [ ]:
fx = {'GBPUSD': 0.03,
      'USDCHF': 0.02,
      'USDNOK': -0.04,
      'USDZAR': -0.05}

In [ ]:
fxSeries = pd.Series(fx)

In [ ]:
fxSeries.plot(kind='bar')
plt.show()

In [ ]:
k = pd.Series([100, 200, 300, 400, 500, 600, 700, 800, 900, 1000])
k.rolling(2).quantile(0.4)

In [ ]:
pd.Series([100, 600]).quantile(0.50)

In [ ]:
revenue = pd.read_csv("Datasets/revenue.csv", index_col='Date')
revenue

In [ ]:
revenue.sum(axis=1)

In [ ]:
revenue.insert(loc=1, column='Los Santos', value=0)

In [ ]:
revenue

In [ ]:
revenue['Los Santos'] + 100

In [ ]:
revenue

In [ ]:
pd.read_excel("Datasets/Data - Multiple Worksheets.xlsx", sheet_name='Data 2')

In [ ]:
nba = pd.read_csv("Datasets/nba.csv")
nba

In [ ]:
nba.dropna(axis=0, how='any',)

In [ ]:
nba.sort_values('Name')

In [ ]:
nba.sort_values(["Name", "Salary"], ascending=[True, False])

In [ ]:
nba['Height']

In [2]:
# my_header = {'User-Agent': 'Mozilla/5.0(X11; Linux i686)'}
url = "https://finance.yahoo.com/quote/NIO/history?p=NIO"
k = pd.read_html(url)

In [26]:
k[0]

,Date,Open,High,Low,Close*,Adj Close**,Volume
0,"Jan 14, 2021",62.63,63.23,60.04,60.56,60.56,73633937
1,"Jan 13, 2021",62.94,64.41,61.41,62.15,62.15,115279300
2,"Jan 12, 2021",61.42,64.13,60.42,62.04,62.04,184854200
3,"Jan 11, 2021",64.95,66.99,62.19,62.70,62.70,279770300
4,"Jan 08, 2021",57.76,59.31,55.88,58.92,58.92,217792300
...,...,...,...,...,...,...,...
96,"Aug 27, 2020",19.99,20.47,18.76,19.88,19.88,199850300
97,"Aug 26, 2020",19.01,20.97,18.56,20.44,20.44,364104600
98,"Aug 25, 2020",15.08,17.87,15.06,17.84,17.84,299047800
99,"Aug 24, 2020",14.63,14.98,14.31,14.97,14.97,98697700
100,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...,*Close price adjusted for splits.**Adjusted cl...

In [7]:
url = "https://www.investing.com/indices/us-30-futures-historical-data"
header = {'User-Agent': 'Mozilla/5.0 (X11; Linux i686)'}
req = request.Request(url, header)
response = request.urlopen(req)
respose.read()

TypeError: can't concat str to bytes

In [15]:
url = 'https://www.investing.com/indices/us-30-futures-historical-data'

headers = {}
headers['User-Agent'] = 'Mozilla/5.0 (X11; Linux i686)'
req = request.Request(url, headers=headers)
resp = request.urlopen(req)
html = resp.read()

pd.read_html(html)[0]

   Unnamed: 0 Symbol Exchange Currency Unnamed: 4
0         NaN   US30  Derived      USD  Real-time
1         NaN  UDFc1   TAIFEX      TWD    Delayed

In [16]:
pd.read_html(html)[1]

            Date    Price     Open     High      Low     Vol. Change %
0   Jan 14, 2021  31047.0  30979.5  31114.5  30970.5        -    0.28%
1   Jan 13, 2021  30959.0  30956.0  31060.0  30869.0        -   -0.05%
2   Jan 12, 2021  30974.0  30928.0  31012.0  30777.0  128.91K    0.23%
3   Jan 11, 2021  30902.0  30970.0  31022.0  30638.0  166.35K   -0.29%
4   Jan 08, 2021  30993.0  30951.0  31148.0  30687.0  190.44K    0.16%
5   Jan 07, 2021  30942.0  30790.0  31087.0  30696.0  167.87K    0.72%
6   Jan 06, 2021  30720.0  30287.0  30912.0  30154.0  314.93K    1.44%
7   Jan 05, 2021  30285.0  30108.0  30393.0  29974.0  188.61K    0.60%
8   Jan 04, 2021  30104.0  30481.0  30691.0  29760.0  266.25K   -1.24%
9   Jan 01, 2021  30482.0  30482.0  30482.0  30482.0        -   -0.05%
10  Dec 31, 2020  30497.0  30328.0  30526.0  30230.0   82.99K    0.64%
11  Dec 30, 2020  30302.0  30273.0  30416.0  30211.0   96.13K    0.21%
12  Dec 29, 2020  30238.0  30318.0  30502.0  30166.0  116.98K   -0.22%
13  Dec 28, 2020  30305.0  30028.0  30418.0  29956.0  111.13K    0.65%
14  Dec 24, 2020  30109.0  30083.0  30151.0  29997.0   51.43K    0.25%
15  Dec 23, 2020  30034.0  29903.0  30182.0  29735.0  130.35K    0.41%
16  Dec 22, 2020  29912.0  30100.0  30150.0  29879.0  153.13K   -0.67%
17  Dec 21, 2020  30113.0  30300.0  30333.0  29318.0  278.39K   -0.82%
18  Dec 18, 2020  30363.1  30289.0  30390.0  30170.0    2.31K    0.23%
19  Dec 17, 2020  30293.0  30172.0  30340.0  30150.0   19.48K    0.44%
20  Dec 16, 2020  30161.0  30238.0  30321.0  30084.0   28.50K   -0.14%
21  Dec 15, 2020  30203.0  29938.0  30241.0  29840.0   62.64K    1.13%
22  Dec 14, 2020  29865.0  30134.0  30325.0  29848.0   87.52K   -0.56%

In [17]:
pd.read_html(html)[2]

,0,1,2,3,4
0,"Highest: 31,148.0","Lowest: 29,318.0","Difference: 1,830.0","Average: 30,426.2",Change %: 3.4

In [18]:
pd.read_html(html)[3]

    0               1          2       3       4   5   6
0 NaN   US 30 Futures  31047.500  88.500  +0.29% NaN NaN
1 NaN  US 500 Futures   3808.620   4.870  +0.13% NaN NaN
2 NaN       Dow Jones  31150.200  89.730  +0.29% NaN NaN
3 NaN         S&P 500   3815.810   5.970  +0.16% NaN NaN
4 NaN          Nasdaq  13168.300  39.340  +0.30% NaN NaN
5 NaN     S&P 500 VIX     22.200  -0.010  -0.05% NaN NaN
6 NaN    Dollar Index     90.233  -0.101  -0.11% NaN NaN

In [3]:
bond = pd.read_csv('Datasets/jamesbond.csv', index_col='Film')
bond

,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
Film,,,,,,
Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [6]:
bond['Budget'].nlargest(3)

Film
Spectre              206.3
Quantum of Solace    181.4
Skyfall              170.2
Name: Budget, dtype: float64

In [ ]:
pd.read