In [15]:
import pandas as pd
import numpy as np

In [16]:
# Creating a random Dataset.
data = np.random.randint(0, 100, [1000, 50])

# Converting the dataset to a DataFrame.
df = pd.DataFrame(data)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,32,81,17,26,27,51,74,16,12,85,...,61,39,34,51,52,51,90,59,29,53
1,17,35,5,7,99,18,86,55,0,12,...,49,0,92,94,37,38,60,72,61,88
2,60,11,56,69,39,1,77,35,4,28,...,98,87,24,39,96,93,7,28,99,63
3,23,18,63,75,36,69,28,61,17,30,...,72,39,3,72,82,17,70,85,11,4
4,88,50,6,3,15,91,73,82,29,76,...,39,63,0,0,11,70,98,20,35,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,68,22,96,96,18,98,86,66,91,56,...,81,43,1,72,13,61,84,93,99,78
996,96,10,75,2,26,89,1,3,97,49,...,88,45,65,68,97,88,63,43,60,1
997,60,14,14,96,84,89,58,70,32,92,...,81,27,30,62,22,77,76,25,27,74
998,96,82,18,45,79,30,27,3,79,97,...,3,98,83,76,70,14,40,53,93,5
999,94,62,37,47,93,38,31,26,59,7,...,69,91,46,49,54,8,22,67,69,58

# # .max_rows & .min_rows

#### The number of rows that pandas displays when the DataFrame is called can be set & displayed by using the pd.options.display.max_rows or ...min_rows attribute.
#### If a DataFrame has 100 rows and the .max_rows is set to 200, all the rows will be displayed.
#### If you want to view more rows use 'min_rows' which is set to 10 rows by default, it displays 5 rows from the head & 5 rows from the tail and truncates the rest.

In [19]:
# Getting the maximum number of rows that can be displayed.

pd.options.display.max_rows

60

In [23]:
# Setting the maximum number of rows that can be displayed.

pd.options.display.max_rows = 60

In [24]:
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,32,81,17,26,27,51,74,16,12,85,...,61,39,34,51,52,51,90,59,29,53
1,17,35,5,7,99,18,86,55,0,12,...,49,0,92,94,37,38,60,72,61,88
2,60,11,56,69,39,1,77,35,4,28,...,98,87,24,39,96,93,7,28,99,63
3,23,18,63,75,36,69,28,61,17,30,...,72,39,3,72,82,17,70,85,11,4
4,88,50,6,3,15,91,73,82,29,76,...,39,63,0,0,11,70,98,20,35,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,68,22,96,96,18,98,86,66,91,56,...,81,43,1,72,13,61,84,93,99,78
996,96,10,75,2,26,89,1,3,97,49,...,88,45,65,68,97,88,63,43,60,1
997,60,14,14,96,84,89,58,70,32,92,...,81,27,30,62,22,77,76,25,27,74
998,96,82,18,45,79,30,27,3,79,97,...,3,98,83,76,70,14,40,53,93,5
999,94,62,37,47,93,38,31,26,59,7,...,69,91,46,49,54,8,22,67,69,58

In [42]:
# Getting the minimum number of rows that can be displayed.

pd.options.display.min_rows

10

In [43]:
# Setting the minimum number of rows that can be displayed.
# It will display 10 rows from the head & 10 from tail. 

pd.options.display.min_rows = 20

In [36]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,...,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,32,81,17,26,27,51,74,16,12,85,3,66,45,95,48,...,91,72,76,71,95,61,39,34,51,52,51,90,59,29,53
1,17,35,5,7,99,18,86,55,0,12,22,9,4,66,96,...,90,8,56,75,74,49,0,92,94,37,38,60,72,61,88
2,60,11,56,69,39,1,77,35,4,28,63,4,48,19,11,...,71,3,20,1,69,98,87,24,39,96,93,7,28,99,63
3,23,18,63,75,36,69,28,61,17,30,26,24,12,0,52,...,49,74,10,12,52,72,39,3,72,82,17,70,85,11,4
4,88,50,6,3,15,91,73,82,29,76,45,64,6,36,2,...,18,52,39,12,64,39,63,0,0,11,70,98,20,35,78
5,95,29,78,57,47,78,99,66,25,2,19,72,72,76,0,...,36,94,21,92,40,48,93,44,85,13,0,78,63,17,75
6,11,8,69,24,39,6,3,6,35,34,71,12,72,8,47,...,4,18,68,2,42,0,12,98,66,67,96,39,97,21,99
7,78,13,53,49,20,46,86,11,46,32,74,78,84,91,69,...,16,30,4,8,52,5,20,99,83,34,51,49,80,82,45
8,75,4,51,54,5,4,16,60,9,3,81,74,87,64,51,...,34,60,6,59,54,15,43,51,40,99,34,7,65,43,81
9,46,77,22,58,66,97,95,79,4,27,33,72,63,72,50,...,81,22,39,19,23,0,86,17,42,74,48,12,26,27,56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,22,79,31,95,25,13,72,0,9,13,51,91,43,44,71,...,56,23,36,21,30,79,69,2,49,58,21,64,65,37,47
991,60,99,59,70,47,25,33,89,85,82,7,79,31,68,23,...,42,69,41,86,39,2,83,23,16,71,79,75,39,90,40
992,27,37,68,26,40,47,43,17,83,40,91,87,49,59,49,...,11,60,93,26,30,0,97,28,86,56,14,46,78,93,85
993,1,59,62,44,99,9,57,43,22,93,92,64,78,14,34,...,43,53,39,89,65,11,48,51,31,12,63,65,4,19,70
994,87,10,42,95,61,9,16,6,32,4,52,71,21,68,97,...,13,71,27,10,88,18,33,19,20,81,60,53,33,63,49
995,68,22,96,96,18,98,86,66,91,56,28,78,31,50,6,...,86,83,99,10,46,81,43,1,72,13,61,84,93,99,78
996,96,10,75,2,26,89,1,3,97,49,79,28,38,95,51,...,46,99,79,63,38,88,45,65,68,97,88,63,43,60,1
997,60,14,14,96,84,89,58,70,32,92,53,65,76,90,57,...,25,29,11,70,88,81,27,30,62,22,77,76,25,27,74
998,96,82,18,45,79,30,27,3,79,97,34,73,0,61,47,...,53,39,75,31,38,3,98,83,76,70,14,40,53,93,5
999,94,62,37,47,93,38,31,26,59,7,49,89,88,3,44,...,4,58,49,6,40,69,91,46,49,54,8,22,67,69,58

In [39]:
# Getting the maximum number of columns that can be displayed.

pd.options.display.max_columns

20

In [38]:
# Setting the maximum number of columns that can be displayed.

pd.options.display.max_columns = 30

In [27]:
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,...,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49
0,32,81,17,26,27,51,74,16,12,85,3,66,45,95,48,...,91,72,76,71,95,61,39,34,51,52,51,90,59,29,53
1,17,35,5,7,99,18,86,55,0,12,22,9,4,66,96,...,90,8,56,75,74,49,0,92,94,37,38,60,72,61,88
2,60,11,56,69,39,1,77,35,4,28,63,4,48,19,11,...,71,3,20,1,69,98,87,24,39,96,93,7,28,99,63
3,23,18,63,75,36,69,28,61,17,30,26,24,12,0,52,...,49,74,10,12,52,72,39,3,72,82,17,70,85,11,4
4,88,50,6,3,15,91,73,82,29,76,45,64,6,36,2,...,18,52,39,12,64,39,63,0,0,11,70,98,20,35,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,68,22,96,96,18,98,86,66,91,56,28,78,31,50,6,...,86,83,99,10,46,81,43,1,72,13,61,84,93,99,78
996,96,10,75,2,26,89,1,3,97,49,79,28,38,95,51,...,46,99,79,63,38,88,45,65,68,97,88,63,43,60,1
997,60,14,14,96,84,89,58,70,32,92,53,65,76,90,57,...,25,29,11,70,88,81,27,30,62,22,77,76,25,27,74
998,96,82,18,45,79,30,27,3,79,97,34,73,0,61,47,...,53,39,75,31,38,3,98,83,76,70,14,40,53,93,5
999,94,62,37,47,93,38,31,26,59,7,49,89,88,3,44,...,4,58,49,6,40,69,91,46,49,54,8,22,67,69,58

# # pd.get_option() & pd.set_option()

#### The pd.get_option() & pd.set_option() can also be used to display & set the values.
#### The methods take a regular-expression describing the option you want to access and the value you want to assign to it. Use the docString to know all the options one can set & get.

In [44]:
# Getting the maximum number of rows that can be displayed.

pd.get_option('max_rows')

20

In [45]:
# Getting the maximum number of columns that can be displayed.

pd.get_option('max_columns')

20

In [46]:
# Setting the maximum number of rows that can be displayed.

pd.set_option('max_rows', 16)
df

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,32,81,17,26,27,51,74,16,12,85,...,61,39,34,51,52,51,90,59,29,53
1,17,35,5,7,99,18,86,55,0,12,...,49,0,92,94,37,38,60,72,61,88
2,60,11,56,69,39,1,77,35,4,28,...,98,87,24,39,96,93,7,28,99,63
3,23,18,63,75,36,69,28,61,17,30,...,72,39,3,72,82,17,70,85,11,4
4,88,50,6,3,15,91,73,82,29,76,...,39,63,0,0,11,70,98,20,35,78
5,95,29,78,57,47,78,99,66,25,2,...,48,93,44,85,13,0,78,63,17,75
6,11,8,69,24,39,6,3,6,35,34,...,0,12,98,66,67,96,39,97,21,99
7,78,13,53,49,20,46,86,11,46,32,...,5,20,99,83,34,51,49,80,82,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,27,37,68,26,40,47,43,17,83,40,...,0,97,28,86,56,14,46,78,93,85
993,1,59,62,44,99,9,57,43,22,93,...,11,48,51,31,12,63,65,4,19,70
994,87,10,42,95,61,9,16,6,32,4,...,18,33,19,20,81,60,53,33,63,49
995,68,22,96,96,18,98,86,66,91,56,...,81,43,1,72,13,61,84,93,99,78
996,96,10,75,2,26,89,1,3,97,49,...,88,45,65,68,97,88,63,43,60,1
997,60,14,14,96,84,89,58,70,32,92,...,81,27,30,62,22,77,76,25,27,74
998,96,82,18,45,79,30,27,3,79,97,...,3,98,83,76,70,14,40,53,93,5
999,94,62,37,47,93,38,31,26,59,7,...,69,91,46,49,54,8,22,67,69,58

# # pd.reset_option()

#### It can be used to reset the options to their default values.

In [49]:
# resetting the max_rows option to default.

pd.reset_option('max_rows')

In [50]:
pd.get_option('max_rows')

60

# pd.describe_option()
#### It gives a summary of the option passed as argument.

In [51]:
pd.describe_option('max_rows')

display.max_rows : int
    If max_rows is exceeded, switch to truncate view. Depending on
    `large_repr`, objects are either centrally truncated or printed as
    a summary view. 'None' value means unlimited.

    In case python/IPython is running in a terminal and `large_repr`
    equals 'truncate' this can be set to 0 and pandas will auto-detect
    the height of the terminal and print a truncated object which fits
    the screen height. The IPython notebook, IPython qtconsole, or
    IDLE do not run in a terminal and hence it is not possible to do
    correct auto-detection.
    [default: 60] [currently: 60]

# # .precision() Option

#### The .precision option can be used to set the number of decimal places in the floating point numbers in the series or DataFrames.

In [58]:
# Generating a random DataFrame.

df = pd.DataFrame(np.random.randn(5, 5))
df

          0         1         2         3         4
0 -0.755482 -0.477665  1.093237  0.714882 -0.445178
1  0.090995 -1.284684 -2.084528 -2.018143  0.249674
2  1.210613 -1.184708  0.192426 -0.729764 -0.683264
3 -0.642663 -1.751097  0.776899 -0.872712  0.216537
4  0.408780 -1.453424  0.012429 -1.074071  0.495774

In [59]:
# Getting the precision level of floats.

pd.get_option('precision')

6

In [61]:
# Setting the precision level of floats to 3 decimal places.

pd.set_option('precision', 3)
df

       0      1      2      3      4
0 -0.755 -0.478  1.093  0.715 -0.445
1  0.091 -1.285 -2.085 -2.018  0.250
2  1.211 -1.185  0.192 -0.730 -0.683
3 -0.643 -1.751  0.777 -0.873  0.217
4  0.409 -1.453  0.012 -1.074  0.496

In [62]:
# Resetting the precision level to default.
# resetting will return the original dataframe.

pd.reset_option('precision')
df

          0         1         2         3         4
0 -0.755482 -0.477665  1.093237  0.714882 -0.445178
1  0.090995 -1.284684 -2.084528 -2.018143  0.249674
2  1.210613 -1.184708  0.192426 -0.729764 -0.683264
3 -0.642663 -1.751097  0.776899 -0.872712  0.216537
4  0.408780 -1.453424  0.012429 -1.074071  0.495774