Importing libraries, you need to execute the code (press shift + enter)

In [2]:
import pandas as pd

# Creating series with lists

In [7]:
# Creating a list of strings.
ice_cream = ['Chocolate', 'Vanilla', 'Rum Raisen']

# Passing a list to Series.
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Rum Raisen
dtype: object

In [8]:
# Creating a list of numbers.
lottery = [4, 8, 16, 23, 42, 56]

# Passing list to Series.
pd.Series(lottery)

0     4
1     8
2    16
3    23
4    42
5    56
dtype: int64

In [9]:
# Creating a list of booleans.
registration = [True, False, False, False, True]

pd.Series(registration)

0     True
1    False
2    False
3    False
4     True
dtype: bool

# Creating a Series from python Dictionary
#### The index in a series arent required to be unique
#### While creating a Series from a Dictionary, pandas will save dict-key as series index.

In [2]:
# Creating a dictionary.
webster = {'Aardvark': 'An Animal',
          'Banana': 'A Fruit',
          'Cyan': 'A Colour'}

# Passing the dictionary to Series.
pd.Series(webster)

Aardvark    An Animal
Banana        A Fruit
Cyan         A Colour
dtype: object

# Series Attributes

In [11]:
# Creating a list
list1 = ['Ferrari', 'Lamborghini', 'Mazeratti', 'Fiat', 'Alfa Romero']

# Creating a Series.
s = pd.Series(list1)

In [5]:
# returns an array of values in the Series.

s.values

array(['Ferrari', 'Lamborghini', 'Mazeratti', 'Fiat', 'Alfa Romero'],
      dtype=object)

In [6]:
# gives the indexes of the Series

s.index

RangeIndex(start=0, stop=5, step=1)

In [7]:
# Returns the data-type of the values in the Series.
# all the values in a given series must be of same type.

s.dtype

dtype('O')

In [8]:
s.dtypes

dtype('O')

In [13]:
# Sets the name of the column-header.

s.name = 'Italia'
s

0        Ferrari
1    Lamborghini
2      Mazeratti
3           Fiat
4    Alfa Romero
Name: Italia, dtype: object

In [14]:
# returns true if all values in the series are unique.

s.is_unique

True

# Series Methods

In [16]:
# Creating a list & Series.
list2 = [1.56, 2.59, 4.78, 5.0]

s = pd.Series(list2)

In [10]:
# Returns the sum of all values (numerical Series only).

s.sum()

13.93

In [17]:
s.diff

0     NaN
1    1.03
2    2.19
3    0.22
dtype: float64

In [11]:
# Returns the product of all values (numerical Series only).

s.product()

96.56556

In [5]:
# Returns the arithmetic-mean of all values (numerical Series only).

s.mean()

3.4825

In [23]:
# Returns the middle value in the Series (numerical Series only).

s.median()

3.685

In [22]:
# Returns the most frequently occuring value (numerical Series only).

s.mode()

0    1.56
1    2.59
2    4.78
3    5.00
dtype: float64

In [20]:
# returns the Standard deviation of the Series.

s.std()

1.6811578351441803

In [5]:
# returns the kurtosis of the Series.

s.kurtosis()
s.kurt()

-4.139173025322936

In [14]:
# returns the covariance of the Series wrt an other series.

s.cov(other)

TypeError: cov() missing 1 required positional argument: 'other'

In [20]:
# Returns a Series of statistical description of the series.

s.describe()

count    4.000000
mean     3.482500
std      1.681158
min      1.560000
25%      2.332500
50%      3.685000
75%      4.835000
max      5.000000
dtype: float64

In [24]:
# Returns the index of max value.

s.idxmax()

3

In [25]:
# Returns the index of minimum value.

s.idxmin()

0

# Arguments & Parameters

In [8]:
# Making lists.
fruits = ['Mango', 'Watermelon', 'Banana', 'Grape', 'Oranges', 'Plum']
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Fryday', 'Saturday']

# Creating a Series & passing another list as index.
# 'name' kwarg will set the column-header.
s = pd.Series(fruits, index=weekdays, name='Fruits')
s

Monday            Mango
Tuesday      Watermelon
Wednesday        Banana
Thursday          Grape
Fryday          Oranges
Saturday           Plum
Name: Fruits, dtype: object

# Importing CSV

#### By default read_csv returns a Dataframe.
#### 'usecols' kwarg is used to specify which columns to import, it must be a list of column headers. 
#### 'index_col' kwarg is used to specify the index column for Dataframe or Series. 
#### set 'squeeze' kwarg to True to save as a Series.

In [8]:
# Creating a Series from a CSV file.

pokemon = pd.read_csv("Datasets/pokemon.csv", usecols=['Pokemon'], squeeze=True)
pokemon

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
716       Yveltal
717       Zygarde
718       Diancie
719         Hoopa
720     Volcanion
Name: Pokemon, Length: 721, dtype: object

In [20]:
# Creating a Series from a CSV file.

google = pd.read_csv('Datasets/google_stock_price.csv', usecols=['Stock Price'], squeeze=True)
google

0        50.12
1        54.10
2        54.65
3        52.38
4        52.95
         ...
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

In [18]:
# S.head(n) returns n top values in the series index-wise.

pokemon.head(n=10)          # getting the top 10 values in the series

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
7     Wartortle
8     Blastoise
9      Caterpie
Name: Pokemon, dtype: object

In [22]:
# S.tail(n) returns the bottom n values in the series by index.

google.tail(n=10)            # getting the top 10 values in the series.

3002    739.77
3003    738.42
3004    741.77
3005    745.91
3006    768.79
3007    772.88
3008    771.07
3009    773.18
3010    771.61
3011    782.22
Name: Stock Price, dtype: float64

In [15]:
# Setting things up.
pokemon = pd.read_csv("Datasets/pokemon.csv", usecols=['Pokemon'], squeeze=True)
google = pd.read_csv('Datasets/google_stock_price.csv', usecols=['Stock Price'], squeeze=True)

### S.sort_values() method

In [17]:
# returns a new series with sortedout values in ascending order.

pokemon.sort_values().head()

459    Abomasnow
62          Abra
358        Absol
616     Accelgor
680    Aegislash
Name: Pokemon, dtype: object

In [19]:
# returns a new series with sortedout values in decending order.

pokemon.sort_values(ascending=False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Pokemon, dtype: object

In [20]:
# Sorting numerical series in ascending order.

google.sort_values()

11       49.95
9        50.07
0        50.12
10       50.70
12       50.74
         ...
3010    771.61
3007    772.88
3009    773.18
2859    776.60
3011    782.22
Name: Stock Price, Length: 3012, dtype: float64

# Extracting Values from Series

In [11]:
# Creating a series with string indexes.

pokemon = pd.read_csv("Datasets/pokemon.csv", index_col="Pokemon", squeeze=True)
pokemon.head(5)

Pokemon
Bulbasaur     Grass
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Name: Type, dtype: object

## Extracting using index

#### Eventhough the series has a string index, pandas also gives it a numerical index implicitly starting from 0.

In [8]:
pokemon[1]

'Grass'

## Extracting values using a range of indexs

In [9]:
pokemon[1:10]                         # Here, 10th index value is excluded

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Squirtle      Water
Wartortle     Water
Blastoise     Water
Caterpie        Bug
Name: Type, dtype: object

## Extraction using a range of string-index

Unlike using indexes, while using string-index range, the second range parameter 
is inclusive.

In [11]:
pokemon['Ivysaur': 'Charizard']          # Here, 'Charizard' is included in the output

Pokemon
Ivysaur       Grass
Venusaur      Grass
Charmander     Fire
Charmeleon     Fire
Charizard      Fire
Name: Type, dtype: object

## Extraction of specific Index values

In [12]:
pokemon[['Ivysaur', 'Charizard']]

Pokemon
Ivysaur      Grass
Charizard     Fire
Name: Type, dtype: object

## S.reindex() method

#### S.reindex() allows for searching for indexes that do not exist in the series.
#### Returns NaN for non-existing indexes.

In [13]:
pokemon.reindex(['Venusaur', 'Caterpie', 'Dinosaur', 'Crocodile'])

Pokemon
Venusaur     Grass
Caterpie       Bug
Dinasaur       NaN
Crocodile      NaN
Name: Type, dtype: object

## S.get() method

In [14]:
pokemon.get(5)                            # getting the value @ fifth index (6th row).

'Fire'

In [15]:
# getting specific values.

pokemon.get(['Venusaur', 'Pikachu'])

Pokemon
Venusaur       Grass
Pikachu     Electric
Name: Type, dtype: object

The default parameter defines the default object if the passed index is not found

In [12]:
pokemon.get(key=['Venusaur', 'Pikachu', 'Makichu'], default="This is not a Pokemon")

Pokemon
Venusaur       Grass
Pikachu     Electric
Makichu          NaN
Name: Type, dtype: object

# S.value_counts() method

Gives the count of occurence of the values in the series.

In [27]:
pokemon.value_counts(ascending=True)

Flying        3
Fairy        17
Steel        22
Ghost        23
Ice          23
Dragon       24
Fighting     25
Poison       28
Dark         28
Ground       30
Electric     36
Rock         41
Fire         47
Psychic      47
Bug          63
Grass        66
Normal       93
Water       105
Name: Type, dtype: int64

In [2]:
google = pd.read_csv('Datasets/google_stock_price.csv', usecols=['Stock Price'], squeeze=True)

# S.count() method

#### S.count() returns the length of series excluding NaN.

In [3]:
google.count()

3012

# S.apply(func) method

#### S.apply(func), applies the passed function on all the values in the series and returns a new series.

In [4]:
# Defining a function.

def test(number):
    if number < 350:
        return "Ok"
    elif 350 < number <500:
        return "satisfactory"
    else:
        return "fantastic"

In [5]:
# Applying the above function on each value in google Series.

google.apply(test)

0              Ok
1              Ok
2              Ok
3              Ok
4              Ok
          ...
3007    fantastic
3008    fantastic
3009    fantastic
3010    fantastic
3011    fantastic
Name: Stock Price, Length: 3012, dtype: object

# S.map() method

#### S.map() maps the values of the applied series to the index of the passed series or dictionary and returns a new series object.

In [7]:
# Creating a Series.

pokemon_names = pd.read_csv("Datasets/pokemon.csv", usecols=['Pokemon'], squeeze=True)
pokemon_names.head(3)

0    Bulbasaur
1      Ivysaur
2     Venusaur
Name: Pokemon, dtype: object

In [8]:
# Creating a Series with values of above Series as index.

pokemon_types = pd.read_csv("Datasets/pokemon.csv", index_col='Pokemon', squeeze=True)
pokemon_types.head(3)

Pokemon
Bulbasaur    Grass
Ivysaur      Grass
Venusaur     Grass
Name: Type, dtype: object

In [9]:
# mapping the values pokemon_names to pokemon types.

pokemon_names.map(pokemon_types)

0        Grass
1        Grass
2        Grass
3         Fire
4         Fire
        ...
716       Dark
717     Dragon
718       Rock
719    Psychic
720       Fire
Name: Pokemon, Length: 721, dtype: object