In [15]:
import pandas_datareader as pdr
import finplot as fplt

In [16]:
rates = pdr.DataReader('GS', data_source='yahoo', start='2020-01-01')
rates

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2019-12-31,229.970001,228.669998,229.710007,229.929993,1447200.0,227.113007
2020-01-02,234.639999,230.160004,231.000000,234.320007,3736300.0,231.449234
2020-01-03,232.610001,230.300003,231.600006,231.580002,2274500.0,228.742813
2020-01-06,234.020004,229.490005,229.929993,233.949997,3329300.0,231.083771
2020-01-07,237.770004,234.759995,235.000000,235.490005,5255200.0,232.604919
...,...,...,...,...,...,...
2020-06-26,200.240005,188.509995,199.000000,189.190002,9530700.0,189.190002
2020-06-29,193.899994,188.660004,191.380005,193.470001,3736000.0,193.470001
2020-06-30,198.410004,193.619995,193.839996,197.619995,3102800.0,197.619995
2020-07-01,199.740005,195.520004,198.880005,197.570007,2620100.0,197.570007
2020-07-02,203.000000,197.130005,202.500000,197.399994,2699400.0,197.399994

In [17]:
fplt.candlestick_ochl(rates[['Open', 'Close', 'High', 'Low']])
fplt.show()

In [5]:
rates[['Open', 'Close', 'High', 'Low']]

                  Open       Close        High         Low
Date
2019-12-31  229.710007  229.929993  229.970001  228.669998
2020-01-02  231.000000  234.320007  234.639999  230.160004
2020-01-03  231.600006  231.580002  232.610001  230.300003
2020-01-06  229.929993  233.949997  234.020004  229.490005
2020-01-07  235.000000  235.490005  237.770004  234.759995
...                ...         ...         ...         ...
2020-06-26  199.000000  189.190002  200.240005  188.509995
2020-06-29  191.380005  193.470001  193.899994  188.660004
2020-06-30  193.839996  197.619995  198.410004  193.619995
2020-07-01  198.880005  197.570007  199.740005  195.520004
2020-07-02  202.500000  197.399994  203.000000  197.130005

[128 rows x 4 columns]

In [18]:
ax = fplt.create_plot(title='Goldman Sachs')
axo = ax.overlay()
fplt.volume_ocv(rates[['Open', 'Close', 'Volume']], ax=axo)
fplt.plot(rates.Volume.ewm(span=24).mean(), ax=axo, color=1)
fplt.candlestick_ochl(rates[['Open', 'Close', 'High', 'Low']])
fplt.show()