In [4]:
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy.orm import sessionmaker

In [1]:
data = [
    {"name": "Intersteller",
    "genre": "Sci-Fi"},
    {"name": "The Martian",
    "genre": "Sci-Fi"},
    {"name": "Oblivian",
    "genre": "Sci-Fi"},
]

In [7]:
# Establishing a connection with PostgreSQL database

DATABASE_URI = r"postgresql+psycopg2://postgres:MargretThacheris100%sexy@localhost:5432/learning"
engine = create_engine(DATABASE_URI)

In [8]:
# Creating a session object based on our connection.
# Creating session instance that will work with db. similar to cursors in Python DB-APIs

Session = sessionmaker(bind=engine)
my_session = Session()

In [14]:
from sqlalchemy import (Column, Integer, String)

In [12]:
# Base class from which Table Models shall inherit.

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [15]:
# Creating a Movie ORM model

class Movie(Base):
    __tablename__ = "movies"            # table name as in DataBase.

    # defining db columns
    id = Column(Integer, primary_key=True)
    name = Column(String)
    genre = Column(String)
    year = Column(Integer, nullable=True)

    def __repr__(self):
        """String representation while querying instances of this model."""
        
        return f"<Movie name={self.name}>"

In [16]:
# Add all tables to database
Base.metadata.create_all(bind=engine)

In [17]:
# creating an instance(row) of Movie model(table)
intersteller = Movie(name='Intersteller', genre='Sci-Fi')
print(intersteller.name)

Intersteller

In [18]:
# changes havn't been commited yet!
print(intersteller.id)

None

In [19]:
# Commiting changes to database.

my_session.add(intersteller) # prepare To save
my_session.commit()          # save

In [20]:
print(intersteller.id)

1

# CRUD in SQLAlchemy

    - Create
    - Retrieve
    - Update
    - Delete

## Create

In [21]:
# create
GoG = Movie(name='Guardians of the Galaxy', genre='Action')
my_session.add(GoG)
my_session.commit()

## Retrieve

In [22]:
# retrieve
movie_a = my_session.query(Movie).get(2)
print(movie_a)

<Movie name=Guardians of the Galaxy>

In [23]:
movie_a.name

'Guardians of the Galaxy'

In [24]:
# List
# Creating a query set of all values in table

qs = my_session.query(Movie).all()
qs

In [26]:
# List & Filter

qs = my_session.query(Movie).filter_by(name='Intersteller').all()
qs

In [28]:
# List & filter by column value contaning pattern
# will list rows that contains Interstelar or its wrong spelling as well.

qs = my_session.query(Movie).filter(Movie.name.contains('Intersteller')).all()
qs

In [31]:
# Creating a database search engine

my_query = input("What are you looking for?\n") or "Unknown"
qs = my_session.query(Movie).filter(Movie.name.contains(my_query)).all()
print(qs)

[<Movie name=Intersteller>]

## Update

In [32]:
inter = my_session.query(Movie).get(1)      # Retrieving row with id = 1
inter.year = 2014                           # setting value to retrieved row locally

my_session.commit()                         # commiting change to db

## Delete

In [ ]:
# Deleting an instance of Model(row of a table)

inter = my_session.query(Movie).get(1)
my_session.delete(inter)
my_session.commit()

# SQLAlchemy and Pandas

In [35]:
# reading from a database that is actively connected
# pd.read_sql_table takes database_name and connection

old_df = pd.read_sql_table('movies', engine)
old_df

   id                     name   genre    year
0   2  Guardians of the Galaxy  Action     NaN
1   1             Intersteller  Sci-Fi  2014.0

In [ ]:
old_df.to_sql()